<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    #chat {
      max-height: 200px;
      min-height: 200px;
      background-color: aliceblue;
      overflow-y: scroll;
    }
  </style>
  <body>
    <h1>Bem vindo(a) ao Chat!</h1>
    <div id="chat"></div>
    <br />
    <input
      type="text"
      class="form-control"
      id="msg"
      placeholder="Sua mensagem"
    /><br />
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Seu nome de usuário"
    />
    <br />
    <button class="btn btn-primary" onclick="enviar()">Enviar</button>
  </body>
  <script
    src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous"
  ></script>
  <script>
    var socket = io("http://localhost:3001");
    socket.on("disconnect", () => {
      console.log("Desconectado");
    });

    socket.on("showMsg", (data) => {
      console.log(data);
      var chat = document.getElementById("chat");
      var p = document.createElement("p");
      p.innerHTML = data.username + ": " + data.msg;
      chat.append(p);
    });

    function enviar() {
      var msgField = document.getElementById("msg");
      var usernameField = document.getElementById("username");

      var msg = msgField.value;
      var username = usernameField.value;

      socket.emit("msg", { msg: msg, username: username });
    }
  </script>
</html>
