<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" name="" id="palavra" oninput="enviar()" />
    <button>Enviar</button>
    <hr />
    <p id="resultado"></p>
  </body>
  <script
    src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous"
  ></script>
  <script>
    var socket = io("http://localhost:3001");
    socket.emit("boasvindas", { nome: "Gustavo S." });

    socket.on("resultado", (data) => {
      console.log(data);

      var p = document.getElementById("resultado");
      p.innerHTML = data;
    });

    function enviar() {
      var input = document.getElementById("palavra");
      socket.emit("palavra", input.value);
    }
  </script>
</html>
